.store-view {
  /* allocate space for navbar on the bottom */
  height: calc(100vh - 3.25rem);
  overflow-y: auto;
}

.store-list {
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.store-map {
  height: 100%;
}

.store-map > div {
  position: relative;
  height: 100%;
}

.store-map > div.store-searchbox {
  position: absolute !important;
  top: 10px !important;
  margin-left: 10px;
  height: auto !important;
}
